# Editor directories and files
fontface
Cover
Image
Character
Logo
Requirement
Implementation
*/*/Image
*/*/ds

*/*/*/Image
*/*/*.pdf
*/*/*.log
*/*/*.aux
*/*/*.out
*/*/*.fls
*/*/*.toc
*/*/*.synctex(busy)
*/*/*.synctex.gz
*/*/*.fls
*/*/*.fdb_latexmk

*/*/*/Image
*/*/*/*.pdf
*/*/*/*.log
*/*/*/*.aux
*/*/*/*.out
*/*/*/*.fls
*/*/*/*.toc
*/*/*/*.synctex(busy)
*/*/*/*.synctex.gz
*/*/*/*.fls
*/*/*/*.fdb_latexmk

*/*/*/*/Episode/*.synctex(busy)
*/*/*/*/Episode/*.synctex.gz
*/*/*/*/Episode/*.fls
*/*/*/*/Episode/*.fdb_latexmk
*/*/*/*/Episode/*.log
*/*/*/*/Episode/*.out
*/*/*/*/Episode/*.aux
*/*/*/*/Episode/*.toc
*/*/*/*/*.mp4
Book\hnG\Phase1\Book3\mv.mp4

*/*/*/Episode/*.synctex(busy)
*/*/*/Episode/*.synctex.gz
*/*/*/Episode/*.fls
*/*/*/Episode/*.fdb_latexmk
*/*/*/Episode/*.log
*/*/*/Episode/*.out
*/*/*/Episode/*.aux
*/*/*/Episode/__latexindent*
*/*/*/*.mp4

*/*/*.mp4
*/*/*/*.mp4
*/*/.vscode
*/*/Episode/motif*.tex

*/*/*/*.pdf
*/*/*/*.synctex(busy)
*/*/*/*.synctex.gz
*/*/*/*.fls
*/*/*/*.fdb_latexmk
*/*/*/*.log
*/*/*/*.out
*/*/*/*.aux
*/*/*/*.toc

*/*/*/*/*.pdf
*/*/*/*/*.synctex(busy)
*/*/*/*/*.synctex.gz
*/*/*/*/*.fls
*/*/*/*/*.fdb_latexmk
*/*/*/*/*.log
*/*/*/*/*.out
*/*/*/*/*.aux
*/*/*/*/*.toc

*/Extra/BookER/*.txt
Extra/BookER/1-C_club.txt
Extra/BookER/character_intro*.txt